<h1>Pages#ask</h1>
<p>Find me in app/views/pages/ask.html.erb</p>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="What do you want?">
  <input type="submit" value="Go on!">
</form>
